<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    * Untuk Responsive view
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    * Untuk document refresh 30 detik
    <meta http-equiv="refresh" content="30" />
    * Theme color di choome
    <meta name="theme-color" content="#000" />
    * Menambahkan Icon Logo
    <link
      rel="shortcut icon"
      href="www.x.com/favicon.png"
      type="image/x-icon"
    />
    *Membuat Title
    <title>React Build APP</title>
    * Menambahkan Deskripsi
    <meta
      name="description"
      content="React makes it painless to create interactive UIs. Design simple views for each state in your application, and React will efficiently update and render just the right components when your data changes"
    />
    * Menambahkan Keyword
    <meta name="keywords" content="React, JS, TS" />
    * Menambahkan CSS
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    * Menggunakan Components ini untuk container
    <header></header>
    <section></section>
    <aside></aside>
    <footer></footer>

    * Li Menggunakan data agar mesin mudah membaca
    <ul>
      <li><data value="10">Mouse</data></li>
      <li><data value="10">Keybord</data></li>
    </ul>

    * Input
    <input type="color" />

    * Text DFn text gunakan untuk first document
    <p><dfn>Html</dfn> is markup language</p>
  </body>
</html>
